.shop{
    margin-bottom: 1.5rem;

    .cats{
        margin: 3rem 0 5rem;
        .container{
            @include flex();
            justify-content: space-around;
            flex-wrap: wrap;
            .cat{
                cursor: pointer;
                text-align: center;
                img{
                    width: 8rem;
                    height: 8rem;
                    border-radius: 50%;
                }
                a{
                    display: block;
                    margin: 1rem 0;
                    font-weight: 600;
                    color: $dark-grey;
                }
                &:hover a{
                    color: $green;
                }
            }
        }
    }

    .prods{
        overflow: hidden;
        .container{
            @include grid(4);
            .pro{
                background-color: $background-grey;
                padding: 0.5rem;
                text-align: center;
                position: relative;
                cursor: pointer;
                img{
                    width: 100%;
                    margin: 1.5rem 0;
                    height: 16rem;
                }
                p{
                    font-weight: 600;
                }
                span{
                    color: $light-grey;
                    margin: 0.4rem 0;
                    display: block;
                }
                .rate{
                    color: $green;
                    font-size: $small-font;
                }
                .overlay{
                    visibility: hidden;
                    background-color: #fafafadb;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 0%;
                    transition: $transition;
                    .options{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        i{
                            color: $dark-grey;
                            background-color: white;
                            padding: 0.6rem;
                            font-size: $meduim-font;
                            transition: color $transition, background-color $transition;
                        }
                        i:hover{
                            color: $white;
                            background-color: $green;
                        }
                    }
                }
                &:hover{
                    .overlay{
                        visibility: visible;
                        height: 75%;
                    }
                }
            }
        }
    }

}