// break points
@mixin breakPoints($point){
    @if $point == "mobile" {
        @media (max-width:767px) {
            @content;
        }
    }
    @else if $point == "small" {
        @media (max-width:991px) {
            @content;
        }
    }
    @else if $point == "medium" {
        @media (max-width:1199px){
            @content;
        }
    }
    @else if $point == "large" {
        @media (min-width:1200px) {
            @content;
        }
    }
}

// grid systems
@mixin grid($num){
    display: grid;
    @if $num==3 {
        $num : 300px;
    }
    @else if $num==4 {
        $num: 250px;
    }
    grid-template-columns: repeat(auto-fill, minmax($num,1fr));
    gap: 1rem;
}

// flex box
@mixin flex(){
    display: flex;
    align-items: center;
}