// colors
$green: #B8B145;
$light-grey:#8C816F;
$dark-grey:#626362;
$background-grey:#F1F3F1;
$black:#22211F;
$white: #FDFEFD;

// main variables
$transition:0.3s;
$radius:0.3rem;
$small-font: 0.8rem;
$meduim-font:0.9rem;